<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Opening</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=1.0"/>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="topo">
            <h1>4º Desafio 200k - Porto Velho-Humaitá</h1>
        </div>
        <br>
        <div class="clearfix"></div>
        <div class="container">
            <div>Informativo da Corrida
                <br>
                📅 Dia 22 de fevereiro de 2025
                <br>
                🏃🏻 Largada às 08hs 🕗
                <br>
                🚩 Local: Sítio Don Enrique, localizada na Estrada do Santo Antônio, 1252, Triângulo, Porto Velho - RO, Brasil.
                <br>
                💲 Valor da Inscrição: 279,00 reais para prova Principal; 179,00 para prova de três voltas
                <br>
                💲 Atletas com idade de 60+, paga 50% do valor da inscrição conforme Art. 23 da Lei Federal nº 10.741/2003
                <br><br>
                Forma de Pagamento:
                <br>
                Pix kelioesteves@hotmail.com - Kélio Esteves Xavier - Mercado pago.
                <br>
                Cartão de Débito ou Crédito (com acrescimo)
                <br>
                📱Mais informações: (69) 99925-9005
                <br><br>
                INSCRIÇÕES:
                <br>
                ✍️ Período de inscrição:
                <br>
                Início: 10 de novembro de 2024
                <br>
                Término: 20 de dezembro 2025 ou até o limite das vagas
            </div>
            <div class="container_tower">
                <h1>Inscrição</h1>
                <form method="GET">

                    <label class="drop-label">Selecione a categoria da prova</label>
                    <select name="categoria" class="dropdown" required>
                        
                        <option selected disabled class="dropdown" value="">Selecione</option>
                        <option value="1" class="dropdown">Solo 200km</option>
                        <option value="2" class="dropdown">Dupla 100km/cada</option>
                        <option value="3" class="dropdown">Quarteto 50km/cada</option>                    
                        <option value="4" class="dropdown">Octeto 25km/cada</option>                    
                    
                    </select>
                    <br>
                    <input type="email" name="email" placeholder="E-mail" autocomplete="off" autofocus/>
                    <br>
                    <input type="text" name="cpf" placeholder="CPF" autocomplete="off"/>
                </form>
                <di class="submit">
                <button>Continuar</button>
                </di>
            </div>
        </div>
    </body>
</html>