<OCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/inicio.css"/>
    <title>Backyard</title>
</head>
<body>
    <!--    <div class="container">
        <img src="/static/img/03.png" alt="03.png" title="ECM Run"/>
    </div>


    <h1>Macaxeira Backyard 2ª Edição</1h>
    -->

    <div class="envelopa-formulario">
        <div class="formulario-item-50 item-esquerda">
            <label for="nome">Seu nome (obrigatório)</label> 
            <input type="text" name="nome" placeholder="Nome"/>
        </div>

        <div class="formulario-item-50">
            <label for="email">Seu e-mail (obrigatório)</label>
            <input type="email" name="email" placeholder="E-mail"/>
        </div>

        <div class="clearfix"></div>
        
        <div class="formulario-item-100">
            <label for="assunto">Assunto</label> 
            <input type="text" name="assunto" placeholder="Assunto"/>
        </div>

        <div class="formulario-item-100">
            <label for="mensagem">Sua mensagem</label>
            <textarea name="mensagem" readonly rows="5">asdasda s das d asdas  da s dasda sdasdasdasda</textarea>
        </div>

        <button type="submit">Enviar</button>

        <!--[submit "Enviar"] -->
    </div>


</body>
</html>